# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# outputs
outputs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data / results (uncomment if outputs get large)
# *.csv
# *.pkl

# Editor
.vscode/
.idea/

# logs
logs/